<div class="news-group">
  <div class="banner-wrap">
    <img
      src="https://res.cloudinary.com/drtr6i0qt/image/upload/v1693456088/goodanime/banner-small_wz7ejj.png"
      alt="news-banner"
      width="100%"
    />
  </div>
  <div class="news-list">
    <ul>
      <li>
        <h4>Latest episode finally out</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </li>
      <li>
        <h4>Latest episode finally out</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </li>
      <li>
        <h4>Latest episode finally out</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </li>
      <li>
        <h4>Latest episode finally out</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </li>
      <li>
        <h4>Latest episode finally out</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </li>
      <li>
        <h4>Latest episode finally out</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </li>
    </ul>
  </div>
</div>
