<header>
  <div class="first_row">
    <div class="container">
      <a routerLink="" class="logotxt"
        ><img
          src="https://res.cloudinary.com/drtr6i0qt/image/upload/v1693464659/goodanime/logo-light_kedr4e.png"
          alt=""
          height="30px"
        />
      </a>
      <ul class="cta">
        <li class="btns">
          <app-buttons [btn_style]="ctaStyleReg" [btn_name]="'Sign Up'">
          </app-buttons>
          <app-buttons [btn_style]="ctaStyleLogin" [btn_name]="'Login'">
          </app-buttons>
        </li>
        <li>
          <a href=""
            ><img
              src="https://res.cloudinary.com/drtr6i0qt/image/upload/v1693464659/goodanime/profile_wd3izn.png"
              alt="profile"
              srcset="
                https://res.cloudinary.com/drtr6i0qt/image/upload/v1693464659/goodanime/profile_wd3izn.png
              "
              height="35px"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="https://res.cloudinary.com/drtr6i0qt/image/upload/v1693464659/goodanime/language_tq9j3k.png"
              alt="language"
              srcset="
                https://res.cloudinary.com/drtr6i0qt/image/upload/v1693464659/goodanime/language_tq9j3k.png
              "
              height="35px"
          /></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="second_row menu">
    <div class="container">
      <ul>
        <li><a routerLink=""></a>News</li>
        <li><a routerLink=""></a>Forums</li>
        <li><a routerLink=""></a>About</li>
        <li><a routerLink=""></a>Help</li>
      </ul>
      <a href="/" class=""
        ><img
          src="https://res.cloudinary.com/drtr6i0qt/image/upload/v1693466405/goodanime/AnimeDB_Draft_fodibr.png"
          alt="burger-menu"
          height="30px"
      /></a>
    </div>
  </div>
</header>
