<!-- <div class="banner-group carousel">
  <div class="carousel-slide">
    <img
      src="https://res.cloudinary.com/drtr6i0qt/image/upload/v1693298197/banner-good_co0hen.png"
      alt="banner 1"
    />
  </div>
  <div class="carousel-slide">
    <img src="image2.jpg" alt="banner 2" />
    slide 2
  </div>
  <div class="carousel-slide">
    <img src="image3.jpg" alt="banner 3" />
    Slide 3
  </div>
</div> -->


<div class="banner-group carousel">
  <div class="carousel-slide">
    <img
      src="https://res.cloudinary.com/drtr6i0qt/image/upload/v1693298197/banner-good_co0hen.png"
      alt="banner 1"
    />
  </div>
  <div class="carousel-slide">
    <img src="image2.jpg" alt="banner 2" />
    slide 2
  </div>
  <div class="carousel-slide">
    <img src="image3.jpg" alt="banner 3" />
    Slide 3
</div>



<!-- <button id="prevBtn" (click)="prevSlide()">Previous</button>
<button id="nextBtn" (click)="nextSlide()">Next</button> -->
